.app-container{
  border: 5px solid white;
  background-color: black;
  box-sizing: border-box;
  color: #fff;
}
.card{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 50px;
}
.btn{
  font-size: 5rem;
  background-color: transparent;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.d-r-i{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.d-r-i button{
  display: flex;
  justify-content: center;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  background-color: #000;
  flex-direction: row;
}
.decrease{
  background-color: red !important;
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
}
.reset{
  background-color: blue !important;
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
}
.increase{
  background-color: green !important;
  padding: 10px;
  border-radius: 5px;
}
.m-p-r-c{
 height: 100px;
}
body {
 background-color: #fff;
}

.stopwatch-time {
  text-align: center;
  color: #fff;
  font-size: 80px;
}

.stopwatch-buttons {
  display: flex;
  justify-content: center;
}

.stopwatch-buttons button {
  margin: 20px;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  color: #fff;
}

.stopwatch-buttons button:first-child {
  background-color: green;
  border-radius: 2px;
}

.stopwatch-buttons button:last-child {
  background-color: red;
  border-radius: 2px;
}
.clock{
  color: white;
  text-align: center;
  font-size: 5rem;
  padding-bottom: 100px;
}
.mike{
  list-style-type: none;
  font-size: 50px;
}
.delete{
  font-size: 20px;
  border-radius: 5px;
  margin-left: 20px;
  background-color: blue;
  color: white;
}